body,html {
    margin: 0;
    padding: 0;
}

body {
    background: url('https://images.pexels.com/photos/1034425/pexels-photo-1034425.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}

.container {
    display: block;
    font-family: Avenir,Helvetica,Arial,sans-serif; 
    margin: 60px auto 30px auto;
    width: 50%;
    color: #2c3e50;
    background-color: #fff;;
    padding: 20px;
    opacity: .95;
    box-shadow: 1px 1px 2px 1px #aaa
}

.task {
    display: flex;
    position: relative;
    top: 20px;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 13.5px;
}

.task-title {
    padding-left: 30px;
    font-size: 18px;
}

.new-task {
    display: flex;
    position: relative;
    top: 20px;
    width: calc(100% - 120px);
    font-size: 18px;
    margin-left: 55px;
    padding: 1px 5px;
    border: none;
    border-bottom: 1px dashed #d3d0d0;
    color: #d3d0d0;
}

.new-task-content {
    margin: 10px -2px -2px 2px;
}

.summary {
    display: flex;
    position: relative;
}

.summary-border {
    width: calc(100% - 107px);
    font-size: 18px;
    padding: 23px 5px;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    color: #d3d0d0;
}

.summary-border-content {
    display: flex;
    position: relative;
    top: 36px;
    left: 5px;
    font-size: 14px;
}

.color {
    color: #ffa500
}

.circle {
    position: relative;
    top: 18px;
    border: 1px solid #7fffd4;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px   
}

.circle:hover {
    background-color: #c5ffed;
    transition:         all .25s ease;
}

.task-checked {
    display: flex;
}

.task-done {
    padding-left: 30px;
    font-size: 18px;
    text-decoration: line-through;
}

.circle-bg {
    background-color: #7fffd4;
}

.bin {
    margin-left: 498px !important;
}

.task-button {
    margin-left: 478px;
    padding: 0px;
    height: 27px;
    margin-top: 16px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.task-button-svg {
    width: 30px;
    height: 38px;
    padding: 0px;
    z-index: 0;
}